<p class="pipeDescompte">{{ 100 | descompte:40 }}</p>

<div>
    <!-- Missatge d'error i success -->
    <p *ngIf="missatgeBuscar" 
      [class]="missatgeBuscar === 'Post afegit correctament' ? 'missatgeSuccess' : 'missatgeError'"> 
        {{ missatgeBuscar }} 
    </p>
    <h2>Buscar Post</h2>
    <input type="number" [(ngModel)]="searchId" placeholder="Introdueix un ID">
    <button (click)="buscarPost()">Buscar</button>

    <div *ngIf="post">
        <h3> {{ post!.title | lowercase }} </h3>
        <p> {{ post!.body | lowercase }} </p>
        <p>UserId: {{ post!.userId }} </p>
        <p>Id: {{ post!.id }} </p>
    </div>
</div>

<div>
    <!-- Missatge d'error i success -->
    <p *ngIf="missatgeAfegir" 
      [class]="missatgeAfegir === 'Post afegit correctament' ? 'missatgeSuccess' : 'missatgeError'"> 
        {{ missatgeBuscar }} 
    </p>    
    
    <h2>Afegir Post</h2>
    <form [formGroup]="postForm" (ngSubmit)="afegirPost()">
        <input formControlName="userId" placeholder="Número d'id del post" type="number" name="userId" id="userId">
        <small *ngIf="userIdError" class="errorMessage">
            L'userId ha de ser un número positiu
        </small>
        <input formControlName="title" placeholder="Titol del post" type="text" name="title" id="title">
        <small *ngIf="titleError" class="errorMessage">
            El ha de tenir mínim 5 caràcters
        </small>
        <textarea formControlName="body" placeholder="Cos del post" name="body" id="body"></textarea>
        <small *ngIf="bodyError" class="errorMessage">
            El cos ha de tenir mínim 10 caràcters
        </small>
        <button type="submit" [disabled]="postForm.invalid" >Afegir Post</button>
    </form>


</div>